---
import TopGamesTwitch from "../../../components/TopGamesTwitch.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="twitch-vote - Top Games">
  <main class="max-w-6xl mx-auto px-5 mt-32">
    <TopGamesTwitch />
  </main>
</Layout>
