---
import Layout from "../../layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout title={`twitch-vote - ${session?.user?.name}`}>
  <div class="max-w-6xl mx-auto px-5 mt-32">
    <div class="flex items-center justify-center">
      {
        !session ? (
          <div class="flex items-center justify-center h-[70vh]">
            <p>Oops, You must be signed in to view your profile.</p>
          </div>
        ) : (
          <div class="w-full">
            <div class="flex flex-col items-center gap-4">
              <img class="rounded-full" src={session?.user?.image} />
              <div class="flex flex-col items-center gap-8">
                <h4 class="font-bold">{session?.user?.name}</h4>
                <button
                  class="py-1 px-3 rounded bg-neutral-600 hover:bg-neutral-700 duration-150"
                  id="logout"
                >
                  Sign out
                </button>
              </div>
            </div>
            <div class="border-t border-neutral-700 mt-10">
              <div class="flex items-center justify-center py-5">
                <h5>Your Votes</h5>
              </div>
            </div>
          </div>
        )
      }
    </div>
  </div>

  <script>
    import { $ } from "../../lib/dom-selector";
    const { signOut } = await import("auth-astro/client");

    const $logout = $("#logout");

    $logout.onclick = () =>
      signOut({
        callbackUrl: "/",
      });
  </script>
</Layout>
