---
import Streamers from "../../components/Streamers.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="rate-it - Rate">
  <main class="max-w-6xl mx-auto px-5 mt-32">
    <Streamers />
  </main>
</Layout>
