---
import Intro from "../components/Intro.astro";
import Rate from "../components/Rate.astro";
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout title="vote-it">
  <main class="max-w-6xl mx-auto px-5 mt-32">
    {!session ? <Intro /> : <Rate />}
  </main>
</Layout>
