---
import ArrowLeft from "./icons/ArrowLeft.astro";
---

<div>
  <a
    class="bg-neutral-700 rounded py-2 px-5 flex items-center gap-5 w-max mb-10 hover:bg-neutral-800 duration-150"
    href="/"><ArrowLeft /> Go back</a
  >
</div>
