---
const SECTIONS = [
  { name: "Top Games", url: "/vote/top-games" },
  { name: "Twitch Streamers", url: "/vote/twitch-streamers" },
];
---

<div class="flex items-center justify-center h-[35vh]">
  <div class="flex flex-col items-center gap-20">
    <div class="flex flex-col gap-2 items-center">
      <h1 class="text-4xl">twitch-vote</h1>
      <p class="text-neutral-400 text-sm">
        Your votes will be saved in your profile
      </p>
    </div>
    <div>
      <ul class="grid grid-cols-3 items-center gap-5">
        {
          SECTIONS.map((section) => (
            <li>
              <a class="animated-links" href={section.url}>
                {section.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
