---
import { STREAMERS } from "../consts/streamers";
---

<div>
  <h4 class="text-3xl">Streamers</h4>
  <p class="text-neutral-400">Vote one of this streamers</p>
  <div class="mt-20">
    <ul class="flex items-center gap-10">
      {
        STREAMERS.map((streamer) => (
          <li class="flex flex-col items-center gap-3">
            <p>{streamer.name}</p>
            <button>
              <img class="streamer-image" src={streamer.image} />
            </button>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .streamer-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
</style>
